<div class="teacher-home">
  <div class="container">
    <mat-drawer-container class="teacher-home__body">
      <mat-drawer mode="side" opened>
        <mat-button-toggle-group [(ngModel)]="toggleValue" name="menu" aria-label="Menu" vertical="true">
          <mat-button-toggle [routerLink]="'profile'" value="teachers">Профіль</mat-button-toggle>
          <mat-button-toggle [routerLink]="'attestation'" value="attestation">Атестація</mat-button-toggle>
          <!-- <mat-button-toggle value="courses">Курси</mat-button-toggle>
          <mat-button-toggle value="appeal">Апеляція</mat-button-toggle> -->
        </mat-button-toggle-group>
      </mat-drawer>
      <mat-drawer-content class="teacher-home__content">
        <router-outlet></router-outlet>
      </mat-drawer-content>
  </mat-drawer-container>
  </div>
</div>