<div class="teachers">
  <form *ngIf="filtersForm" class="teachers__filters" [formGroup]="filtersForm">
    <mat-form-field class="teachers__filter">
      <mat-select [formControlName]="'qualification_category'" placeholder="Оберіть категорію">
        <mat-option>Будь-яка</mat-option>
        <mat-option *ngFor="let category of categoryOptions" [value]="category.option">{{category.option}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="teachers__filter">
      <mat-select [formControlName]="'rank'" placeholder="Оберіть звання">
          <mat-option>Будь-яке</mat-option>
          <mat-option *ngFor="let rank of rankOptions" [value]="rank.option">{{rank.option}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="teachers__filter">
      <mat-select [formControlName]="'subject_name'" placeholder="Оберіть предмет">
          <mat-option>Будь-який</mat-option>
          <mat-option *ngFor="let subject of subjectOptions$ | async" [value]="subject.subject_name">{{subject.subject_name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="filterTeachers()" mat-flat-button color="primary">Фільтрувати</button>
  </form>
  <mat-spinner class="spinner" *ngIf="isLoaded"></mat-spinner>
<mat-list  *ngIf="!isLoaded" class="teachers__list">
  <mat-list-item class="teachers__teacher" *ngFor="let teacher of teachers$ | async">
    <img matListAvatar src="assets/images/teacher-photo.png">
    <div matLine>
      <a class="teachers__teacher-name" [routerLink]="[teacher.personnel_number]">{{teacher.name}} {{teacher.surname}}</a>
    </div>
    <div matLine>
      <p *ngIf="teacher.rank">Звання: {{teacher.rank}}</p>
      <p>Категорія: {{teacher.qualification_category}}</p>
      <ng-template [ngIf]="teacher.subjects.length === 1" [ngIfElse]="subjectsArr">
          <p>Предмет: {{getTeacherSubjects(teacher.subjects)}}</p>
        </ng-template>
        <ng-template #subjectsArr>
          <p>Предмети: {{getTeacherSubjects(teacher.subjects)}}</p>
        </ng-template>
    </div>
    <button (click)="openEditTeacherPopup(teacher.personnel_number)" class="teachers__edit-teacher-button" mat-mini-fab>
      <mat-icon>edit</mat-icon>
    </button>
    <button (click)="deleteTeacher(teacher.personnel_number)" color="warn" mat-mini-fab>
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
    <mat-list-item>
        <button (click)="openAddTeacherPopup()" class="teachers__add-teacher-button" color="primary" mat-mini-fab>
          <mat-icon>person_add</mat-icon>
        </button>
    </mat-list-item>
 </mat-list>
</div>

<ngx-spinner
bdColor = "rgba(8,11,25,0.71)"
size = "large"
color = "#ffe400"
type = "pacman"
fullScreen = "true"
>
<p style="color: white" > Завантаження... </p>
</ngx-spinner>