.teachers
  &__list
    border: 1px solid #eeeeee
    background: #ffffff
    border-radius: 4px
    box-shadow: 0px 0px 10px rgba(123,101,101,0.1)
  &__teacher

  &__add-teacher-button
    margin: 0 auto


.spinner
  margin: 0 auto