.head-home
  &__body
    min-height: 700px
  &__content
    padding: 2em

.mat-button-toggle-group-appearance-standard
  border-top-right-radius: 0px
  border-bottom-right-radius: 0px
  border-right: none