<div class="container">
  <mat-card class="login">
    <mat-card-header>
      <mat-card-title>Вхід</mat-card-title>
    </mat-card-header>
    <div class="login__content fw">
      <form class="login__form" [formGroup]="loginForm">
        <div class="login__form-field">
          <mat-form-field>
            <input matInput placeholder="Логін" formControlName="login" name="login" required>
          </mat-form-field>
        </div>
        <div class="login__form-field">
          <mat-form-field>
            <input matInput placeholder="Пароль" formControlName="password" type="password" name="password" required>
          </mat-form-field>
        </div>
        <button type="submit" mat-raised-button color="primary" (click)="login()">Ввійти</button>
      </form>
    </div>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
</div>
<ngx-spinner
bdColor = "rgba(8,11,25,0.71)"
size = "large"
color = "#ffe400"
type = "pacman"
fullScreen = "true"
>
<p style="color: white" > Завантаження... </p>
</ngx-spinner>