<div class="container">
  <mat-card class="login">
    <mat-card-header>
      <mat-card-title>Вхід</mat-card-title>
    </mat-card-header>
    <div class="login__content fw">
      <form class="login__form" [formGroup]="loginForm">
        <div class="login__form-field">
          <mat-form-field>
            <input matInput placeholder="Електронна адреса" formControlName="email" name="email" type="email" required>
          </mat-form-field>
        </div>
        <div class="login__form-field">
          <mat-form-field>
            <input matInput placeholder="Пароль" formControlName="password" type="password" name="password" required>
          </mat-form-field>
        </div>
      </form>
    </div>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="login()">Ввійти</button>
    </mat-card-actions>
  </mat-card>
</div>
