/* You can add global styles to this file, and also import other style files */
*
  margin: 0
  padding: 0
  box-sizing: border-box



body
  font-size: 16px
  font-family: $primaryRg

.container
  padding: 0 24px
  max-width: 1212px
  margin: 0 auto
  min-width: 320px

.section-header
  font-size: 2.3em
  font-weight: bold
  color: $textColor
  padding: 1.6em 0
  &--upper
    text-transform: uppercase


.fw
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between
  -ms-flex-wrap: wrap
  flex-wrap: wrap
